<button onclick="location.href='/loadData' ">
    Load Data
</button>

<button onclick="location.href='/fetchProducts' ">
    Product Listing
</button>

<button onclick="location.href='/fetchOrders' ">
    Order History
</button>